<% include partials/header %>

<div class="ui main text container segment">
  <div class="ui huge header">Edit blog post</div>
  <form class="ui form" action="/blogs/<%= _id %>?_method=PUT" method="POST">
    <div class="field">
      <label>Title</label>
      <input type="text" name="blog[title]" value="<%= title %>">
    </div>
    <div class="field">
      <label>Image url</label>
      <input type="text" name="blog[img]" placeholder="image Url" value="<%= img %>">
    </div>
    <div class="field">
      <label>Contents</label>
      <textarea name="blog[body]"><%= body %></textarea>
    </div>
    <input class="ui violet basic button" type="submit" value="post">
  </form>
</div>

<% include partials/footer %>
