.inline {
  display: inline;
}

.comment {
  padding-top: 5px;
  margin-top: 15px;
  margin-bottom: 5px;
  border-top: 1px solid black;
}

.thumbnail {
  padding: 0;
}

.thumbnail .img-responsive {
  width: 100%;
}

.thumbnail .caption-full {
  padding: 7px;
}
