<% include partials/header %>

<div class="container">
  <header class="jumbotron">
    <div class="container">
      <h1>Campsites</h1>
      <p>Browse as much as you want</p>
      <p>
        <a class="btn btn-primary btn-lg" href="/campgrounds/new">Create new one</a>
      </p>
    </div>
  </header>
  <div class="row">
    <% campsites.forEach(function (camp) { %>
      <div class="col-md-3 col-sm-6">
        <a href="/campgrounds/<%= camp._id %>">
          <div class="thumbnail">
            <img src="<%= camp.imgUrl %>">
            <div class="caption">
              <h4> <%= camp.name %> </h4>
            </div>
          </div>
        </a>
      </div>
    <% }); %>
  </div>
</div>

<% include partials/footer %>
