<% include partials/header %>

<div class="container">
  <h1><%= name %></h1>
  <img style="width: 100%" src="<%= imgUrl %>" alt="">
  <br>
  <p><%= description %></p>

  <a class="btn btn-md btn-default" href="/campgrounds">Go back</a>
</div>

<% include partials/footer %>
